## Lesson 3.    Function, Dictionaries, Sets

## 1. Function

A **function** is a block of organized, reusable code that is used to perform a single, related action.

Why function?

1. Make your program easier to read an debug

2. Eliminate repetitive code

3. Divide a long program into functions

4. Useful for many programs

### 1.1 Built-in function

The Python interpreter has a number of functions and types built into it that are always available. 

https://docs.python.org/2/library/functions.html

In [1]:
min([2,3])

2

In [162]:
min((2,3))

2

In [2]:
type(2+3j)

complex

In [164]:
id(2+3j)

4368633200

In [1]:
# int: Return an integer object constructed from a number or string x, or return 0 if no arguments are given
int('012')

12

In [2]:
int()

0

In [3]:
str(123)

'123'

In [4]:
len([1,2,2])

3

### 1.2 User-defined function


1. Function blocks begin with the keyword **def** followed by the function name and parentheses ( ( ) ).

2. Any input parameters or arguments should be placed within these parentheses. 

3. The first statement of a function can be an optional statement - the documentation string of the function or docstring.

4. The code block within every function starts with a colon (**:**) and is indented.

5. The statement **return [expression]** exits a function, optionally passing back an expression to the caller. A return statement with no arguments is the same as return **None**.

Syntax:

In [123]:
def function_name():  # Head 

    """function_docstring"""   # Body
    function_suite             # Body
    return [expression]  # exit

Example:

In [5]:
def add(x, y):
    """This function return the sum of two variable."""
    z = x + y
    return z

In [6]:
add.func_name

'add'

In [169]:
add.func_name

'add'

In [7]:
add.func_doc

'This function return the sum of two variable.'

In [8]:
add(2, 3)

5

In [9]:
add(100, 1.2)

101.2

In [10]:
def happyBirthdayEmily():
    print("Happy Birthday to you!")
    print("Happy Birthday to you!")
    print("Happy Birthday, dear Emily.")
    print("Happy Birthday to you!")

happyBirthdayEmily()
happyBirthdayEmily()

Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear Emily.
Happy Birthday to you!
Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear Emily.
Happy Birthday to you!

In [11]:
def print_twice():
    happyBirthdayEmily()
    happyBirthdayEmily()

In [12]:
print_twice()

Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear Emily.
Happy Birthday to you!
Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear Emily.
Happy Birthday to you!

### 1.3 Parameter Passing

All parameters (arguments) in the Python language are passed by reference.

#### 1. pass immutable arguments such as integers, strings, tuples

In [13]:
def ref_demo(x):
    print "x=",x," id=",id(x)
    x = 42
    print "x=",x," id=",id(x)
    
# Now you can call ref_demo function
x = 10
ref_demo(x)
print "Values outside the function: ",x

x= 10  id= 4298125008
x= 42  id= 4298126216
Values outside the function:  10

#### 2. pass mutable arguments such as list

Elements of a list can be changed in place, i.e. the list will be changed even in the caller's scope.

In [23]:
# Function definition is here
def changeme(mylist):
    "This changes a passed list into this function"
    mylist.append([1,2,3,4])
    print "Values inside the function: ", mylist
    return

# Now you can call changeme function
mylist = [10,20,30]
changeme(mylist)
print "Values outside the function: ", mylist

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

If a new list is assigned to the name, the old list will not be affected, i.e. the list in the caller's scope will remain untouched.

In [14]:
# Function definition is here
def changeme(mylist):
    "This changes a passed list into this function"
    mylist = [1,2,3,4]
    print "Values inside the function: ", mylist
    return

# Now you can call changeme function
mylist = [10,20,30]
changeme( mylist )
print "Values outside the function: ", mylist

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

### 1.4 Variables and parameters are local

In [15]:
def cat_twice(part1, part2):
    cat = part1 + part2
    print cat

In [16]:
line1 = 'Python'
line2 = '!'
cat_twice(line1, line2)

Python!

In [17]:
print cat

NameError: name 'cat' is not defined

### 1.5 Function Arguments

1. Positional arguments

2. Keyword arguments

3. Default arguments

4. Variable-length arguments

#### 1. Positional arguments
The arguments passed to a function in correct positional order.

In [18]:
# Function definition is here
def printme(s):
    "This prints a passed string into this function"
    print s
    return

# Now you can call printme function
printme(s = "My string")
printme("My another string")

My string
My another string

In [19]:
# Function definition is here
def printinfo(name, age):
    "This prints a passed info into this function"
    print "Name: ", name
    print "Age ", age
    return

printinfo(50, "miki")
printinfo("miki", 50)

Name:  50
Age  miki
Name:  miki
Age  50

#### 2. Keyword arguments
When you use keyword arguments in a function call, the caller identifies the arguments by the parameter name.

In [20]:
# Function definition is here
def printinfo(name, age):
    "This prints a passed info into this function"
    print "Name: ", name
    print "Age ", age
    return

# Now you can call printinfo function
printinfo(age=50, name="miki")
# printinfo(50, "miki")
# printinfo("miki", 50)

Name:  miki
Age  50

In [21]:
printinfo("miki", age = 50)
# printinfo(50, "miki")

Name:  miki
Age  50

In [22]:
printinfo(age = 50, "miki")

SyntaxError: non-keyword arg after keyword arg (<ipython-input-22-fb6995fcd1f0>, line 1)

#### 3. Default arguments
An argument that assumes a default value if a value is not provided in the function call for that argument.

In [23]:
# Function definition is here
def printinfo(name, age=35):
    "This prints a passed info into this function"
    print "Name: ", name
    print "Age ", age
    return

# Now you can call printinfo function
printinfo("Mike")

Name:  Mike
Age  35

In [24]:
printinfo(age=50, name="miki")

Name:  miki
Age  50

In [25]:
printinfo("miki", 50)

Name:  miki
Age  50

#### 4. Variable-length arguments

__*args__ and __**kwargs__

allow you to pass a variable number of arguments to a function

__*args__ send a **non-keyworded** variable length argument list to the function

In [26]:
def test(*argv):
    # print "first normal arg:", f_arg
    print argv, type(argv)

test('yasoob','python','eggs','test')

('yasoob', 'python', 'eggs', 'test') <type 'tuple'>

In [27]:
test('yasoob')

('yasoob',) <type 'tuple'>

In [28]:
test('yasoob','python','eggs','test', 'hello!')

('yasoob', 'python', 'eggs', 'test', 'hello!') <type 'tuple'>

In [29]:
def test_var_args(f_arg, *argv):
    print "first normal arg:", f_arg
    for arg in argv:
        print "another arg through *argv :", arg

test_var_args('yasoob','python','eggs','test')

first normal arg: yasoob
another arg through *argv : python
another arg through *argv : eggs
another arg through *argv : test

In [30]:
s = ['1', '2', '3', '4']
test_var_args('numbers', *s)

first normal arg: numbers
another arg through *argv : 1
another arg through *argv : 2
another arg through *argv : 3
another arg through *argv : 4

In [31]:
test_var_args('numbers', s)

first normal arg: numbers
another arg through *argv : ['1', '2', '3', '4']

__**kwargs__ allows you to pass __keyworded__ variable length of arguments to a function

In [32]:
def print_kwargs(**kwargs):
    print(kwargs)

In [33]:
kwargs = {"arg3": 3, "arg2": "two","arg1":5}

In [34]:
print_kwargs(**kwargs)

{'arg1': 5, 'arg2': 'two', 'arg3': 3}

In [35]:
print_kwargs(kwargs_1="Shark", kwargs_2=4.5, kwargs_3=True)

{'kwargs_1': 'Shark', 'kwargs_2': 4.5, 'kwargs_3': True}

In [36]:
def print_kwargs_1(**kwargs):
    if kwargs is not None:
        for key in kwargs:
            print key, kwargs[key]

In [37]:
print_kwargs_1(**kwargs)

arg1 5
arg2 two
arg3 3

#### Using \*args and **kwargs in Function Calls

In [38]:
def testify(arg1, arg2, arg3):
    print "arg1:", arg1
    print "arg2:", arg2
    print "arg3:", arg3

In [39]:
# with *args
args = ("hey", 14, "joey")
testify(*args)

arg1: hey
arg2: 14
arg3: joey

In [40]:
# with **kwargs:
kwargs = {"arg1" : "hey", "arg2" : 14, "arg3" : "joey"}
testify(**kwargs)

arg1: hey
arg2: 14
arg3: joey

In [41]:
# with *args
args = ("hey", 14, "joey", '4')
testify(*args)
testify(arg1, arg2, arg3)

TypeError: testify() takes exactly 3 arguments (4 given)

#### Ordering Arguments

In [42]:
def example_1(arg_1, arg_2,  *args, **kwargs):
    print "arg_1", arg_1
    print "arg_2", arg_2
    for fish in args:
        print "another fish through *argv :", fish
        
    for key in kwargs:
        print "another fish through **kwargv :", kwargs[key]

In [43]:
example_1('Hogfish', 'Tuna', 'Jellyfish', kw_1="shark", kw_2="blobfish")

arg_1 Hogfish
arg_2 Tuna
another fish through *argv : Jellyfish
another fish through **kwargv : blobfish
another fish through **kwargv : shark

In [44]:
def example_2(*args, **kwargs):
    
    for fish in args:
        print "another fish through *argv :", fish
        
    for key in kwargs:
        print "another fish through **kwargv :", kwargs[key]

In [45]:
example_2('Hogfish', 'Tuna', kw_1="shark", kw_2="blobfish")

another fish through *argv : Hogfish
another fish through *argv : Tuna
another fish through **kwargv : blobfish
another fish through **kwargv : shark

### 1.6 lambda function (anonymous function)

In Python, anonymous function is a function that is defined without a name.
Anonymous functions are defined using the __lambda__ keyword.

#### Syntax of Lambda Function:
lambda arguments: expression

In [46]:
double = lambda x: x * 2

In [47]:
print double(10)

20

In [48]:
double('python')

'pythonpython'

In [49]:
def double(x):
    return x * 2

In [50]:
l = ['Hello', 'he', 'Hello world!']
sorted(l, key=lambda x: len(x))

['he', 'Hello', 'Hello world!']

In [51]:
words = (('Hello', 1), ('python', 5), ('is', 10))

In [53]:
sorted(words, key=lambda x: x[0])

[('Hello', 1), ('is', 10), ('python', 5)]

In [54]:
sorted(words, key=lambda x: x[1], reverse=True)

[('is', 10), ('python', 5), ('Hello', 1)]

Example use with __filter()__

filter(function, iterable)

In [55]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
# List comprehensions
even_number = [x for x in a if x % 2 == 0]
print even_number

[2, 4, 6, 8, 10]

In [57]:
even_number_1 = filter(lambda x: x % 2 == 0, a)
print even_number_1

[2, 4, 6, 8, 10]

In [58]:
def even_number(x):
    return True if x % 2 == 0 else False

In [59]:
even_number_2 = filter(even_number, a)
print even_number_2

[2, 4, 6, 8, 10]

In [60]:
s = 'Supercalifragilisticexpialidocious'
vowels = filter(lambda x: x in ('a','e','i','o','u'), s)
print vowels, type(vowels)

ueaiaiiieiaioiou <type 'str'>

Another example

In [61]:
b = range(-5, 5)

In [62]:
negative_number = filter(lambda x: x < 0, b)
print negative_number

[-5, -4, -3, -2, -1]

Example use with __map()__

map(function, iterable, â€¦)

In [63]:
squares = map(lambda x: x**2, a)
print squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
# List comprehension
squares_1 = [x**2 for x in a]
print squares_1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Combine __map()__ and __filter()__

In [66]:
even_squares = [x**2 for x in a if x % 2 == 0]
print even_squares

[4, 16, 36, 64, 100]

In [65]:
even_squares_1 = map(lambda x: x**2, filter(lambda x: x % 2 == 0, a))
print even_squares_1

[4, 16, 36, 64, 100]

In [67]:
m = [[1,2,3], [4,5,6],[7,8,9]]

In [68]:
[x for x in row for row in m]

NameError: name 'row' is not defined

In [70]:
res = []
for row in m:
    for x in row:
        res.append(x)

In [71]:
res

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
[x for row in m for x in row]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 2. Dictionaries

Dictionaries are indexed by keys, which can be any immutable type.

Think of a dictionary as an **unordered** set of **key: value** pairs.

### 2.1 Create a dictionary

In [72]:
d = {}

In [73]:
d1 = dict()

In [74]:
tel = {'jack': 4098, 'sape': 4139}

In [75]:
tel['jack']

4098

In [76]:
tel['sape']

4139

In [77]:
tel['df']

KeyError: 'df'

Keys: immutable type

Strings and numbers can always be keys. Tuples can be used as keys if they contain only strings, numbers, or tuples

In [78]:
d2 = {1:2, 100:100}

In [79]:
d2[1]

2

In [80]:
d2[100]

100

In [81]:
d3 = {(2, 'tim'):100}

In [83]:
d4 = {(2, 'tim', [1]):100}

TypeError: unhashable type: 'list'

Lists cannot be keys, since lists are mutable.

In [84]:
d5 = {[1,2]:3}

TypeError: unhashable type: 'list'

Keys in one dictionary are unique.

In [85]:
d6 = {'a':100, 'a':200, 'b':1000}  # When duplicate keys encountered during assignment, the last assignment wins.

In [86]:
d6

{'a': 200, 'b': 1000}

### 2.2 Dictionary implementation
Python dictionaries are implemented as **hash tables**.


In computing, a hash table (hash map) is a data structure which implements an associative array abstract data type, a structure that can map keys to values. A hash table uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found. (from [Wiki](https://en.wikipedia.org/wiki/Hash_table))

<img src="hash_table.png">

In [19]:
hash('a')

12416037344

In [20]:
hash(('a','b'))

-3816799034373630758

__Collision Resolution__

Two distinct keys hashing to same index.

**Open addressing**
1. Linear Probing
<img src="hash_table_1.png">

2. Quadratic Probing (Python)

http://www.laurentluce.com/posts/python-dictionary-implementation/

### 2.3 Looping

In [87]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for key in knights:
    print key, knights[key]

gallahad the pure
robin the brave

In [88]:
for key, value in knights.items():
    print key, value

gallahad the pure
robin the brave

In [89]:
knights.items()

[('gallahad', 'the pure'), ('robin', 'the brave')]

### 2.4 Upating dictionaries

In [91]:
dic = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

dic['Age'] = 8; # update existing entry
dic['School'] = "DPS School"; # Add new entry

print "dic['Age']: ", dic['Age']
print "dic['School']: ", dic['School']

dic['Age']:  8
dic['School']:  DPS School

### 2.5 Delete Dictionary Elements

In [92]:
print dic

{'School': 'DPS School', 'Age': 8, 'Name': 'Zara', 'Class': 'First'}

In [94]:
del dic['School']  # remove entry with key 'Name'
print dic

KeyError: 'School'

In [95]:
dic.clear()  # remove all entries in dict

In [96]:
print dic

{}

In [97]:
del dic  # remove entire dictionary

In [98]:
print dic

NameError: name 'dic' is not defined

### 2.6 Methods

In [99]:
dic = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [100]:
dic.get('Age')

7

In [101]:
dic['Age']

7

In [102]:
dic.has_key('Class')

True

In [103]:
dic.items()

[('Age', 7), ('Name', 'Zara'), ('Class', 'First')]

In [104]:
seq = ('name', 'age', 'sex')

dict = dict.fromkeys(seq)
print "New Dictionary : %s" %  str(dict)

dict = dict.fromkeys(seq, 10)
print "New Dictionary : %s" %  str(dict)

New Dictionary : {'age': None, 'name': None, 'sex': None}
New Dictionary : {'age': 10, 'name': 10, 'sex': 10}

### Example 1
Count the frequency of characters in a string and sort it

In [105]:
paragraph = 'Alice was beginning to get very tired of sitting by her sister on the bank,\
             and of having nothing to do: once or twice she had peeped into the book her sister\
             was reading, but it had no pictures or conversations in it, and \'what is the use of\
             a book,\' thought Alice \'without pictures or conversation?\''

In [106]:
paragraph

"Alice was beginning to get very tired of sitting by her sister on the bank,             and of having nothing to do: once or twice she had peeped into the book her sister             was reading, but it had no pictures or conversations in it, and 'what is the use of             a book,' thought Alice 'without pictures or conversation?'"

In [108]:
def character_count(s):
    dic = {}
    for i in s:
        if i.isalpha():
            if i not in dic:
                dic[i] = 1
            else:
                dic[i] += 1
    return dic

In [109]:
c = character_count(paragraph)

In [110]:
print c

{'A': 2, 'a': 13, 'c': 8, 'b': 6, 'e': 25, 'd': 8, 'g': 8, 'f': 3, 'i': 23, 'h': 14, 'k': 3, 'l': 2, 'o': 24, 'n': 20, 'p': 4, 's': 15, 'r': 14, 'u': 6, 't': 26, 'w': 5, 'v': 4, 'y': 2}

In [65]:
dic

{'Age': 7, 'Class': 'First', 'Name': 'Zara'}

In [111]:
frequent = [(k, v) for k, v in c.items()]

In [112]:
frequent.sort(key=lambda x: x[1], reverse=True)

In [113]:
print frequent

[('t', 26), ('e', 25), ('o', 24), ('i', 23), ('n', 20), ('s', 15), ('h', 14), ('r', 14), ('a', 13), ('c', 8), ('d', 8), ('g', 8), ('b', 6), ('u', 6), ('w', 5), ('p', 4), ('v', 4), ('f', 3), ('k', 3), ('A', 2), ('l', 2), ('y', 2)]

### Example 2

Find the overlap of two lists.

    Sample Input 1: a = ['a', 'c', 'c', 'c', 'd'], b = ['c', 'c', 'e']
    Sample Output 1: ['c', 'c']
    
    Sample Input 2: a = ['1', '2', '3', '4'], b = ['4']
    Sample Output 2: ['4']

In [91]:
# time complexity: O(N)
def overlap_2(str1, str2):
    """
    :type str1: List[str]
    :type str2: List[str]
    :rtype: List[str]
    """
    d = {}
    res = []
    
    for i in str1:
        if i not in d:
            d[i] = 1
        else:
            d[i] += 1
            
    for j in str2:
        if j in d and d[j] > 0:
            res.append(j)
            d[j] -= 1
            
    return res
            
# test 1:
str1 = ['a', 'c', 'c', 'c', 'd']
str2 = ['c', 'c', 'e']
print overlap_2(str1, str2)

# test 2:
str1 = ['1', '2', '3', '4']
str2 = ['4']
print overlap_2(str1, str2)

['c', 'c']
['4']

Find the different part of two lists.

    Sample Input 1: a = ['a', 'c', 'c', 'c', 'd'], b = ['c', 'c', 'e']
    Sample Output 1: ['a', 'c', 'd'], ['e']
    
    Sample Input 2: a = ['1', '2', '3', '4'], b = ['4']
    Sample Output 2: ['1', '2', '3'], []

In [95]:
# time complexity: O(N)
def different_part(str1, str2):
    """
    :type str1: List[str]
    :type str2: List[str]
    :rtype: List[str]
    """
    d = {}
    p1, p2 = [], []
    
    for i in str1:
        if i not in d:
            d[i] = 1
        else:
            d[i] += 1
            
    for j in str2:
        if j in d and d[j] > 0:
            d[j] -= 1
        else: 
            p2.append(j)
            
#     for key, value in d.items():
#         while value > 0:
#             p1.append(key)
#             value -= 1
    for key in d:
        while d[key] > 0:
            p1.append(key)
            d[key] -= 1
            
    return p1, p2
            
# test 1:
str1 = ['a', 'c', 'c', 'c', 'd']
str2 = ['c', 'c', 'e']
print different_part(str1, str2)

# test 2:
str1 = ['1', '2', '3', '4']
str2 = ['4']
print different_part(str1, str2)

(['a', 'c', 'd'], ['e'])
(['1', '3', '2'], [])

## 3. Sets

Unordered collections of unique elements.

a Python implementation of the sets as they are known from mathematics.

<img src="sets_with_notations.png">

Python sets also use hashes internally, for fast lookup (though they store only keys, not values)

### 3.1 Create a set

In [114]:
# An empty set
s = set()

In [116]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

set([1, 2, 3])
set([1.0, 'Hello', (1, 2, 3)])

Sets can't contain mutable objects

In [117]:
cities = set((("Python","Perl"), ("Paris", "Berlin", "London")))

In [105]:
cities

{('Paris', 'Berlin', 'London'), ('Python', 'Perl')}

In [118]:
cities = set((["Python","Perl"], ["Paris", "Berlin", "London"]))

TypeError: unhashable type: 'list'

Set is mutable.

In [120]:
my_set = {1, 2, 3}
print my_set

my_set.add(4) # add 4 in the set
print my_set

set([1, 2, 3])
set([1, 2, 3, 4])

In [121]:
my_set.add(3)

In [122]:
my_set

{1, 2, 3, 4}

### 3.2 Some operations

In [123]:
set1 = {1, 2, 3, 4, 100}
set2 = {3, 4, 5, 300}
set3 = {1, 2}

In [124]:
# len
len(set1)

5

In [125]:
# in
1 in set1

True

In [126]:
# not in
2 not in set1

False

In [127]:
# add
set1.add(1000)
print set1

set([1, 2, 3, 4, 1000, 100])

In [129]:
# discard, An element will be removed from the set, if it is contained in the set. 
# If element is not a member of the set, nothing will be done.
set1.discard(1000)
print set1

set([1, 2, 3, 4, 100])

In [130]:
set1.discard(1000)
print set1

set([1, 2, 3, 4, 100])

In [131]:
# remove, works like discard(), but if el is not a member of the set, a KeyError will be raised.
set1.remove(1000)

KeyError: 1000

In [133]:
# s.issubset(t), s <= t
set3.issubset(set1)

True

In [134]:
set3 <= set1

True

In [136]:
# s.issuperset(t), s >= t
set1.issuperset(set3)

True

In [137]:
set1 >= set3

True

In [138]:
# s.union(t), s|t
set1.union(set2)

{1, 2, 3, 4, 5, 100, 300}

In [139]:
set1 | set2

{1, 2, 3, 4, 5, 100, 300}

In [140]:
# s.intersection(t), s & t
set1.intersection(set2)

{3, 4}

In [141]:
set1 & set2

{3, 4}

In [136]:
# s.difference(t), s - t
set1.difference(set2)

{1, 2, 100}

In [137]:
set2.difference(set1)

{5, 300}

In [142]:
set1 - set2

{1, 2, 100}

In [143]:
# s.symmetric_difference(t), s ^ t
set1.symmetric_difference(set2)

{1, 2, 5, 100, 300}

In [144]:
set1 ^ set2

{1, 2, 5, 100, 300}

In [145]:
set1.difference_update(set2)

### Example

Find the overlap of two lists.

    Sample Input 1: a = ['a', 'c', 'c', 'c', 'd'], b = ['c', 'c', 'e']
    Sample Output 1: ['c']
    
    Sample Input 2: a = ['1', '2', '3', '4'], b = ['4']
    Sample Output 2: ['4']

In [149]:
def intersetion(str1, str2):
    
    s1 = set(str1)
    s2 = set(str2)
    
    return list(s1 & s2)

In [150]:
# test 1:
str1 = ['a', 'c', 'c', 'c', 'd']
str2 = ['c', 'c', 'e']
print intersetion(str1, str2)

# test 2:
str1 = ['1', '2', '3', '4']
str2 = ['4']
print intersetion(str1, str2)

['c']
['4']

## Assignments:


1. Write a module called matrix. Matrix has the following methods:
        
        zeros(shape), return a m * n dimension zero matrix
        
        ones(shape), return a m * n dimension matrix of ones
        
        multiply(m1, m2), return the multiplication of two matrixes
        
        transpose(m), return the transpose of a matrix
        
2. Two sum

    Given an array of integers, return indices of the two numbers such that they add up to a specific target.

    You may assume that each input would have exactly one solution, and you may not use the same element twice.

        Sample Input:
        nums = [2, 7, 11, 15], target = 9,

        Sample output: [0, 1]. (Because nums[0] + nums[1] = 2 + 7 = 9)